*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }
  
  body {
    background-color: #218c74;
    color: #f7f1e3;
    font-family:Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 1.5rem;
    }

h1 {
    font-size: 3rem;
    color: #ffb142;
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 1.5rem;
}
.top{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 35px;
}

.bevel {
    margin-top: 100px;
    height: 500px;
    width: 500px;
    background-color: #ff5252;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas {
    height: 320px;
    width: 320px;
    background-color: #f7f1e315;
    display: grid;
    grid-template-columns: repeat(var(--numCols), 1fr);
    grid-template-rows: repeat(var(--numRows), 1fr);
}

.square{
    background: white;
    display: flex;
}

.knob {
    display: flex;
    background-color: white;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    margin: 0 15px;
    align-items: flex-start;
    justify-content: center;
    
}

.knobs {
    display: flex;
    justify-content:space-between;
    width: 500px;
}

.dial {
    width: 10px;
    height: 10px;
    background-color: #ffb142;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.btn {
    margin-top: 25px;
    background-color: #ffb142;
    color: white;
    border-radius: 10px;
    padding: 15px 25px;
    border: none;
    font-size: 1.25rem;
}

.btn:hover {
    background-color: #cc8e35;
    transition: .25s;
    filter: drop-shadow(0 1mm 3px #0000001c);
}

.styleSetup{
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-direction: column;
    margin-bottom: 35px;
}

.slidecontainer {
    width: 55%; /* Width of the outside container */
    border-radius: 100%;

  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 15px;  
    background: #f7f1e3;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #ff5252;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ff5252;
    cursor: pointer;
  }

  .knob:hover {
    transform: rotate(180deg);
    transition: .5s;
  }
  